[Oo]bj/
/**/[Bb]in/
/**/[Bb]in/
/**/[Bb]in/[Dd]ebug/
/**/[Bb]in/[Rr]elease/
.nuget/
_ReSharper.*
packages/
artifacts/
*.user
*.cache
*.suo
*.userprefs
*DS_Store
*.sln.ide
.sonar
vars.user.cmd
/.vs
/target
/node_modules
temp/
*.ncrunchproject
*.ncrunchsolution
.vscode
nCrunchTemp*.*