<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="$modulenamespace$" description="$modulenamespace$" dependencies="$unicornDependencies$" extends="Helix.$layerName$" />
            </configurations>
        </unicorn>
    </sitecore>
</configuration>
