<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
      <!--   UNCOMMENT AND MODIFY AS NEEDED!
        <configuration name="$modulenamespace$" description="$modulenamespace$" dependencies="$unicornDependencies$" extends="Helix.$layerName$">
          <predicate>
            <include name="$modulenamespace$.Some.Core.Items" database="core" path="/sitecore/path/here/has/to/changed"/>
          </predicate> 
        </configuration>
        -->
      </configurations>
    </unicorn>
  </sitecore>
</configuration>
