<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Environment.Configuration" description="Environment Configuration" patch:before="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\Environment\Configuration\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <!-- Example: Serialize all system languages. If these really are unrelated to any direct module responsibility.
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="Environment.Configuration.Languages" database="master" path="/sitecore/system/languages" />
          </predicate>
          -->
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>